// Typography
// --------------------------------------------------

$base-font: 'LXGW WenKai Screen R', Calibri, Arial, sans-serif;
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: $base-font;
$alt-font: serif;

$doc-font-size: 15;
$doc-line-height: 27.2;

// set-up the body font-size / line-height
body {
  font-size: 0px + $doc-font-size;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

// Colors
// --------------------------------------------------
$base-color: #24292F;
$header-color: #15141A;
$header-active: #15141A;
$menu-top: white;
$menu-height: 60px;
$menu-overflow: #24292F;
$body-color: #e8e8e8;
$text-color: rgba(#24292F, 0.9);
$comp-color: complement(#24292F);
$border-color: lighten(#24292F, 60);
$white: #fff;
$black: #000;
$link-color: rgba(#24292F, 0.8);

$primary: #24292F;
$success: #5cb85c;
$warning: #dd8338;
$danger: #C64537;
$info: #308cbc;

// Screen Size
// --------------------------------------------------

$small: "only screen and (min-width: 30em)";
$medium: "only screen and (min-width: 48em)";
$large: "only screen and (min-width: 62.5em)";
// $main-background-color: hsl(0, 5%, 95%);

html, html[data-theme="light"] {
  // --bg: #e8e8e8;
  // --mainColor: #2c3e50;
  // --fontColor: #34495e;
  // --activeColor: #42b983;
  // --markColor: #d480aa;
  // --markBg: rgba(255,229,100,0.2);
  // --warnColor: #fff000;
  // --borderColor: #eee;
  // --greyColor: #b1afaf;
  // --headerColor:  #fafafa;
  // --libgColor: #f3f3f3;
 
  --base-color: #24292F;
  --header-color: #15141A;
  --header-active: #15141A;
  --menu-top: #fff;
  --menu-height: 60px;
  --menu-overflow: #24292F;
  --card-color: #fff;
  --body-color: #e8e8e8;
  --text-color: #34495e;
  --comp-color: complement(#24292F);
  --border-color: lighten(#24292F, 60);
  --white: #fff;
  --black: #000;
  --link-color: rgba(#24292F, 0.8);
  --link-hover-color: rgba(#24292F, 1);
  --active-color: #24292F;  
  --level-3-contract-color: #222;
  --level-2-contract-color: #111;
  --level-1-contract-color: #000;
  --level-3-color: #ddd;
  --level-2-color: #eee;
  --level-1-color: #fff;

  /* comment */
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-btn-text: #24292f;
  --color-btn-bg: #f6f8fa;
  --color-btn-border: rgb(27 31 36 / 15%);
  --color-btn-shadow: 0 1px 0 rgb(27 31 36 / 4%);
  --color-btn-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 25%);
  --color-btn-hover-bg: #f3f4f6;
  --color-btn-hover-border: rgb(27 31 36 / 15%);
  --color-btn-active-bg: hsl(220deg 14% 93% / 100%);
  --color-btn-active-border: rgb(27 31 36 / 15%);
  --color-btn-selected-bg: hsl(220deg 14% 94% / 100%);
  --color-btn-primary-text: #fff;
  --color-btn-primary-bg: #222222;
  --color-btn-primary-border: rgb(27 31 36 / 15%);
  --color-btn-primary-shadow: 0 1px 0 rgb(27 31 36 / 10%);
  --color-btn-primary-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 3%);
  --color-btn-primary-hover-bg: #222222;
  --color-btn-primary-hover-border: rgb(27 31 36 / 15%);
  --color-btn-primary-selected-bg: hsl(137deg 55% 36% / 100%);
  --color-btn-primary-selected-shadow: inset 0 1px 0 rgb(0 45 17 / 20%);
  --color-btn-primary-disabled-text: rgb(255 255 255 / 80%);
  --color-btn-primary-disabled-bg: #c0b5ac;
  --color-btn-primary-disabled-border: rgb(27 31 36 / 15%);
  --color-fg-default: #24292f;
  --color-fg-muted: #57606a;
  --color-fg-subtle: #6e7781;
  --color-canvas-default: #fff;
  --color-canvas-overlay: #fff;
  --color-canvas-inset: #fff;
  --color-canvas-subtle: #fff;
  --color-border-default: #eee;
  --color-border-muted: #eee;
  --color-neutral-muted: rgb(175 184 193 / 20%);
  --color-accent-fg: #222222;
  --color-accent-emphasis: #eee;
  --color-accent-muted: #eee;
  --color-accent-subtle: #fff;
  --color-success-fg: #1a7f37;
  --color-attention-fg: #9a6700;
  --color-danger-fg: #cf222e;
  --color-danger-muted: rgb(255 129 130 / 40%);
  --color-danger-subtle: #ffebe9;
  --color-primer-shadow-inset: inset 0 1px 0 rgb(208 215 222 / 20%);
  --color-primer-shadow-focus: 0 0 0 3px rgb(9 105 218 / 30%);
  --color-scale-gray-1: #eaeef2;
  --color-scale-blue-1: #eee;

  /*! Extensions from @primer/css/alerts/flash.scss */
  --color-social-reaction-bg-hover: var(--color-scale-gray-1);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-1);

  color-scheme: light;
  
}

html[data-theme="dark"] {
  --base-color: #24292F;
  --header-color: #15141A;
  --header-active: #15141A;
  --menu-top: #282c35;
  --menu-height: 60px;
  --menu-overflow: #24292F;
  --body-color: #333;
  --card-color: #282c35;
  --text-color: rgba(206, 202, 195, 0.9);
  --comp-color: complement(#24292F);
  --border-color: lighten(#24292F, 60);
  --white: #fff;
  --black: #000;
  --link-color: rgba(206, 202, 195, 0.8);
  --link-hover-color: rgba(206, 202, 195, 1);
  --active-color: rgba(206, 202, 195, 1);
  --level-3-contract-color: #81786a;
  --level-2-contract-color: #eee;
  --level-1-contract-color: #fff;
  --level-3-color: #2b2f31;
  --level-2-color: #111;
  --level-1-color: #000;
  --color-fg-default: rgba(206, 202, 195, 0.9);
  // --bg: #282c35;
  // --headerColor: #282c35;
  // --fontColor: #fff;
  // --activeColor: #d480aa; 
  // --markColor: #42b983;
  // --markBg: #373c49;
  // --warnColor: #268bd2;
  // --borderColor: rgba(0,0,0,.1);
  // --libgColor: #202329;
  // -webkit-font-smoothing: antialiased;
  // --light-text-color: hsl(0, 0%, 60%);
  // --main-background-color: hsl(0, 0%, 10%);
  // --main-text-color: hsl(0, 10%, 80%);
}
