---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { SITE_TITLE, WEIBO_CONFIG } from "../config";
import qs from "querystring";
import dayjs from 'dayjs';

const weiboFetchQuery = qs.stringify({
  type: "uid",
  value: WEIBO_CONFIG.value,
  containerid: WEIBO_CONFIG.containerid,
});

const weiboList = await fetch("https://m.weibo.cn/api/container/getIndex?" + weiboFetchQuery, {
  headers: {
    Accept: "application/json, text/plain, */*",
    "MWeibo-Pwa": "1",
    Referer: "https://m.weibo.cn/u/5351049607",
    "User-Agent":
      "Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like Mac OS X) AppleWebKit/604.1.38 (KHTML, like Gecko) Version/11.0 Mobile/15A372 Safari/604.1",
    "X-Requested-With": "XMLHttpRequest",
  },
})
.then(res => res.json())
.then(resDTO => resDTO.data?.cards || [])
.then(list => list
  .filter((item: any) => item.mblog)
  .map(((item: any) => item.mblog)));

---

<PageLayout>
  <PageMeta title={`${SITE_TITLE} | Weibo`} slot="meta" />
  <style>
    .tweet-wrap .tweet-item {
      padding: 10px;
      border-radius: 5px;
    }

    .tweet-wrap img {
      display: inline !important;
    }

    .tweet-wrap .tweet-item .tweet-header {
      overflow: hidden;
    }

    .tweet-wrap .tweet-item .tweet-image {
      width: 150px;
      height: 150px;
      -o-object-fit: cover;
      object-fit: cover;
      margin: 10px
    }

    .tweet-wrap .tweet-item .tweet-repost {
      margin: 1rem 10px;
      padding: .5em 10px;
      background: inherit;
      quotes: "\201C" "\201D" "\2018" "\2019";
      font-weight: 700
    }

    .tweet-wrap .tweet-item .tweet-repost:before {
      margin-right: .25em;
      content: "Repost: ";
      font-size: 1em;
      color: rgb(14 165 233);
    }


    .tweet-wrap .tweet-item .tweet-body {
      margin: 1rem 10px;
      padding: .5em 10px;
      background: inherit;
      quotes: "\201C" "\201D" "\2018" "\2019";
      font-weight: 700
    }

    .tweet-wrap .tweet-item .tweet-body:before {
      margin-right: .25em;
      content: "\201C";
      color: rgb(79 70 229);
      vertical-align: -.4em;
      font-size: 2em;
      line-height: .1em
    }
  </style>
  <section slot="main">
    <div class="tweet-wrap">
      {weiboList.map((item: any) => (
        <div class="tweet-item hover:shadow-lg">
          <blockquote class="tweet-body">
            [<time>{dayjs(item.created_at).format('MM-DD HH:mm:ss')}</time>]
            <span class="tweet-content" set:html={item.text.replace(/<a href='\//g, '<a target="_blank" href=\'http://m.weibo.cn\/')}></span>
            {item.pics?.length && (
              <div>
                {item.pics.map((pic:any) => (
                  <img src={pic.url.replace(/^(https?):\/\/([\w\-]+(\.[\w\-]+)*)/, 'http://weibo.rainonpiano.com')} class="tweet-image" loading="lazy"/>
                ))}
              </div>
            )}

            {item.retweeted_status && (
              <blockquote class="tweet-repost">
                <span>{item.retweeted_status.user.screen_name}: </span>
                <span class="tweet-content" set:html={item.retweeted_status.text.replace(/<a href='\//g, '<a target="_blank" href=\'http://m.weibo.cn\/')}></span>
                {item.retweeted_status.pics?.length && (
                  <div>
                    {item.retweeted_status.pics.map((pic:any) => (
                      <img src={pic.url.replace(/^(https?):\/\/([\w\-]+(\.[\w\-]+)*)/, 'http://weibo.rainonpiano.com')} class="tweet-image" loading="lazy"/>
                    ))}
                  </div>
                )}
                </blockquote>
            )}
              <div class="text-xs text-slate-400">{item.region_name}</div>
            </blockquote>
        </div>
      ))}
    </div>
  </section>
</PageLayout>
