---
type Props = {
  id: string;
  label: string;
};

const { id, label } = Astro.props;
const src = `//player.bilibili.com/player.html?bvid=${id}&page=1&high_quality=1&danmaku=0`;
---

<div>
  <iframe
    class="aspect-video w-full"
    src={src}
    title={label}
    frame-border="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"
  >
  </iframe>
</div>
