<div class="github-record w-full h-32 my-10">
  <img class="github-record-chart w-full" src="http://ghchart.rshah.org/luckyscript" alt="luckyscript's Github chart" onLoaded={() => console.log('xxx')} />
</div>
