---
import Item from "src/components/TelegramItem.astro";

const {
  channel,
} = Astro.props;

const posts = channel?.posts ?? [];

const beforeCursor = posts[posts.length - 1]?.id;

---

<div class="items">
    {posts.map(post => <Item post={post} />)}
</div>
